name: iOS Build

on:
  push:
    branches: ['main']
  workflow_dispatch:

env:
  HAXE_VERSION: 4.3.7
  PROJECT_NAME: Gorefield V2

jobs:
  build:
    name: Build iOS
    runs-on: macos-15
    permissions: write-all

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v2
        with:
          haxe-version: ${{ env.HAXE_VERSION }}

      - name: Setup haxelib directory
        run: |
          mkdir -p ~/haxelib
          haxelib setup ~/haxelib

      - name: Restore build cache
        uses: actions/cache@v4
        with:
          key: ios-haxe-cache
          path: |
            ~/haxelib
            export/release/ios/${{ env.PROJECT_NAME }}/haxe

      - name: Install project libraries
        run: |
          haxe -cp commandline -D analyzer-optimize --run Main setup -s

      - name: Build iOS (no signing)
        run: |
          haxelib run lime build ios -eval -nosign -final

      - name: Create IPA
        run: |
          brew install ldid
          cd export/release/ios/build/Release-iphoneos/${{ env.PROJECT_NAME }}.app
          ldid -S../../../${{ env.PROJECT_NAME }}/${{ env.PROJECT_NAME }}.entitlements ${{ env.PROJECT_NAME }}
          cd ..
          mkdir Payload
          mv ${{ env.PROJECT_NAME }}.app Payload
          zip -r ${{ env.PROJECT_NAME }}.ipa Payload

      - name: Upload IPA artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PROJECT_NAME }}-iOS
          path: export/release/ios/build/Release-iphoneos/*.ipa

      - name: Save build cache
        uses: actions/cache@v4
        with:
          key: ios-haxe-cache
          path: |
            ~/haxelib
            export/release/ios/${{ env.PROJECT_NAME }}/haxe
