name: iOS Build

on:
  push:
    branches: ['main']
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    name: iOS Build
    permissions: write-all
    runs-on: macos-15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v2
        with:
          haxe-version: 4.3.7

      - name: Restore build cache
        uses: actions/cache@v4.2.3
        with:
          key: cache-build-ios
          path: |
            .haxelib/
            ~/.hxcpp/
            export/release/ios/Gorefield/haxe/

      - name: Set HXCPP compile cache
        run: |
          echo "HXCPP_COMPILE_CACHE=$HOME/.hxcpp" >> $GITHUB_ENV

      - name: Install / update libraries
        run: |
          haxe -cp commandline -D analyzer-optimize --run Main setup -s

      - name: Rebuild hxcpp for iOS
        run: |
          haxelib install hxcpp
          haxelib run hxcpp rebuild
          haxelib run lime rebuild hxcpp ios

      - name: Build iOS (unsigned)
        run: |
          haxelib run lime build ios -eval -nosign -final

      - name: Create IPA
        run: |
          brew install ldid
          cd export/release/ios/build/Release-iphoneos
          ldid -S../../../Gorefield/Gorefield.entitlements Gorefield V2.app/Gorefield
          mkdir Payload
          mv Gorefield V2.app Payload
          zip -r Gorefield V2.ipa Payload

      - name: Upload IPA artifact
        uses: actions/upload-artifact@v4
        with:
          name: Gorefield V2 IOS
          path: export/release/ios/build/Release-iphoneos/Gorefield V2.ipa

      - name: Update build cache
        uses: actions/cache@v4.2.3
        with:
          key: cache-build-ios
          path: |
            .haxelib/
            ~/.hxcpp/
            export/release/ios/Gorefield/haxe/
